{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Crée une sortie{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('css/createOutside.css') }}">{% endblock %}

{% block body %}
    <header>
        <navbar>
            <div class="logo">
                <h1>LogoSorti.com</h1>
            </div>
            <div class="menu">
                <a href="{{ path('app_home') }}">Accueil</a>
                <a href="{{ path('app_profil') }}">Mon Profil</a>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        </navbar>
    </header>

    <main>
        <div class="titre_create">
            <h2>Créer une sortie</h2>
        </div>
        <section class="form_create">
                {{ form_start(form_sortie) }}
                {{ form_row(form_sortie.name) }}
                <div class="dateh">
                    {{ form_row(form_sortie.dateTimeStart) }}
                </div>
                <div class="datel">
                    {{ form_row(form_sortie.dateLimitRegister) }}
                </div>
                {{ form_row(form_sortie.duration) }}
                <div class="infos">
                    {{ form_row(form_sortie.information) }}
                </div>
                {{ form_end(form_sortie) }}
        </section>

    </main>
{% endblock %}
