{% extends 'base.html.twig' %}

{% block title %}Crée une sortie{% endblock %}

{% block body %}

    <main>
        <div class="titre_create">
            <h2>Créer une sortie</h2>
        </div>
        <section class="form_create">
                {{ form_start(outsideForm) }}
                    {{ form_row(outsideForm.name) }}
                    <div class="dateh">
                        {{ form_row(outsideForm.dateTimeStart) }}
                    </div>
                    <div class="datel">
                        {{ form_row(outsideForm.dateLimitRegister) }}
                    </div>
                    <div>
                        {{ form_row(outsideForm.duration) }}
                    </div>
                    <div class="infos">
                        {{ form_row(outsideForm.information) }}
                    </div>
                    {{ form_row(outsideForm.registerMax) }}
                    {{ form_row(outsideForm.city) }}
                    {{ form_row(outsideForm.place) }}
                <button href="{{ path('app_home') }}">Crée une sortie</button>

            {{ form_end(outsideForm) }}
        </section>

    </main>
{% endblock %}
